* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
  }
  :root{
    --container-color:#1a1e21;
    --second-color:#fd8f44;
    --text-color:#172317;
--bg-color:white;
  }
  ::selection{
    color: var(--bg-color);
    background-color: var(--second-color);
  }
  a{
    text-decoration: none;
  }
  li{
    list-style: none;
  }
  img{
    width: 100%;
  }
  section{
    padding: 3rem 0 2rem;
  }
  /*-----------*/
  .container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
  }
  header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
  }
  header.shadow{
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
    transition: 0.4s;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
    margin: 28px;
    border-radius: 8px;
  }
  .navbar1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
    margin: 28px;
    border-radius: 8px;
  }
  .logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
  }
  .logo span{
    color: var(--second-color);
  }
  .login{
    background-color: var(--second-color);
    padding: 8px;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--bg-color);
  }
  .login:hover{
    background: hsl(24, 98%, 58%);
    transition: 0.3s;
  }
.home{
  width: 100%;
  min-height: 480px;
  background: var(--container-color);
  display:grid;
  justify-content: center;
  align-items: center;
}
.home-container{
  color: var(--bg-color);
  text-align: center;
}
.title{
  font-size: 3.5rem;
}
.subtitle{
  font-weight: 400;
  font-size: 1rem;
}
.post-filter{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap:1.5rem;
  margin: 2rem !important;
}
.filter{
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}
.activefilter{
  background:var(--second-color);
  color:var(--bg-color);
  padding: 4px 8px;
  border-radius: 4px;
}
.post{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,auto));
  justify-content: center;
  gap: 1.5rem;
}
.post-box{
  background: var(--bg-color);
  box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
  padding: 15px;
  border-radius: 0.5rem;
}
.postimg{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-fit: center;
  border-radius: 0.5rem;
}
.category{
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--second-color);
}
.posttitle{
font-size: 1.3rem;
font-weight: 600;
color: var(--text-color);
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
}
.post-date{
  display: flex;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 4px;
}
.post-description{
  font-size: 0.9rem;
  line-height: 1.5rem;
  overflow: hidden;
  margin: 5px 0 10px;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.profile{
  display: flex;
  align-items: center;
  gap: 10px;
}
.profileimg{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--second-color);
}
.profilename{
  font-size: 0.82rem;
}.contact-left{
  flex-basis: 35%;
}
.contact-right{
  flex-basis:60%;
}
.contact-left p{
  margin-top: 18px;
}
.contact-left p i{
  font-size: 18px;
  color: #ff004f;
  margin: 0 8px;
}
.socialmedia a i{
  font-size: 28px;
  color: rgb(107, 13, 13);
  display: inline-block;
  margin-top: 18px;
  margin-right: 8px;
  cursor:pointer;
  transition: transform 0.5s;
}
.socialmedia a i:hover{
 transform: translateY(-8px);
}
.btn.btn2{
  background-color: #ff004f;
  display: inline-block;
  border-radius: 8px;
  width: 90px;
  height: 38px;
  border-radius: 8px;
  margin: 8px;
  padding: 8px 8px;
  text-decoration: none;
  color:white ;
}
.contact-right form{
  width: 100%;
}
form input,form textarea{
  width: 100%;
  border: 0;
  outline: none;
background:#262626;
padding: 15px;
margin: 15px 0;
color: #fff;
font-size: 18px;
}
.post-header{
  width: 100%;
  height: 500px;
  background: var(--container-color);
}
.post-container{
  max-width: 800px;
  margin: auto;
  width: 100%;
}
.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem !important;
}
.back-home{
  color: var(--second-color);
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
}
.header-title{
  width: 90%;
  font-size: 2.6rem;
  color: var(--bg-color);
  text-align: center;
  margin-bottom: 1rem;
}
.header-img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position:center;
}
.post-content{
  margin-top: 10rem !important;
}
.sub-heading{
  font-size: 1.2rem;
}
.post-text{
  font-size: 1rem;
  line-height: 1.7rem;
  margin: 1rem 0;
  text-align: justify;
}
.share{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
@media (max-width:1060px){
  .container{
    margin: 0 auto;
    width: 95%;
  }
  .home-text{
    width: 100%;
  }
}
@media (max-width:768px){
  .navbar{
    padding: 10px 0;
  }
  section{
    padding: 2rem 0;
  }.header-content{
  margin-top: 3rem !important;
}
}
